.lolo {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: rgb(15, 14, 14);
    background-image:url('https://img.freepik.com/premium-photo/simple-elegant-background_1258715-152440.jpg?uid=R121066045&ga=GA1.1.1977216938.1680318996&semt=ais_hybrid' );width: 700px;
  background-repeat: no-repeat;
width: 100%;
background-size: cover;}
  
  .auth-form-container, .login-form, .register-form {
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (min-width: 600px) {
    .auth-form-container {
      padding: 5rem;
      border: 1px solid white;
      border-radius: 10px;
      margin: 0.5rem;
    }
  }
  
  label {
    text-align: left;
    padding: 0.25rem 0;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
  }
  
  button {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #9a4a09;
  }
  
  .link-btn {
    background: none;
    color: white;
    text-decoration: underline;
  }